# Compiled C files
bin/
obj/

# Compiled Python files
*.pyc
__pycache__/

# CMake build directory
build/

# IDE-specific files
.vscode/
.idea/

# Compiled executable files
*.exe
*.out
*.so

# Temporary files
*.tmp
*.log

# Virtual enviroments
venv/
